.card {
    background: #ffffff;
    border: 1px solid #e0e0e0;
    width: 280px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    text-decoration: none;
  }
  
  .card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  }
  
  .images {
    position: relative;
    width: 100%;
    height: 14vh; /* or whatever fixed height you want for the container */
    overflow: hidden; /* important to hide the cropped parts */
    display: flex;
    justify-content: center;
    align-items: flex-start; /* align content to top */
  }
  
  .playerImg_cont {
    width: 100%;
    height: 100%; /* or 60vh, or whatever % of parent you want */
    overflow: hidden; /* hide cropped overflow */
    position: relative;
  }

  .playerImg {
    width: 100%;
    height: auto; /* Let the image height be natural */
    object-fit: cover;
    object-position: top; /* show the top of the image */
  }
  
  .teamImg {
    position: absolute;
    bottom: -10px;
    right: 20px;
    width: 40px;
    height: 40px;
    object-fit: contain;
    background: #fff;
    border-radius: 50%;
    border: 1px solid #ddd;
  }
  
  .info {
    width: 100%;
    padding-left: 15px;
    text-align: left;
    color: #333;
    text-decoration: none;
  }
  
  .name {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 8px 0 4px;
    color: #111;
    text-decoration: none;
    font-family: 'Playfair Display', serif;

  }
  
  .position {
    font-size: 1rem;
    color: #666;
    margin-bottom: 4px;
  }
  
  .score {
    font-size: 1.3rem;
    color: #212121;
    font-weight: bold;
    font-family: serif;

  }
  .score_num {
    font-size: 2.7rem;
    color: rgb(72, 72, 72);
    font-weight: bold;
  }